In [26]:
import pandas as pd 
import numpy as np

In [27]:
df = pd.read_csv('../../combined_shcc_incidents_data_no20.csv')
df[df['Country'] == 'OPT']['Perpetrator '].value_counts()

Perpetrator
NoInformation                                             194
No Information,                                           122
StateActor                                                113
No Information                                            103
Armed Forces of Government or Self-Declared Government     40
NSA                                                        25
State Actor                                                23
Opposition Group,                                           7
Multiple                                                    3
Civilian                                                    1
Name: count, dtype: int64

In [28]:
pdf = pd.read_excel('../../data/ucdp-term-acd-3-2021.xlsx', index_col=0)
pdf.head()

,conflictepisode,type_of_conflict2,dyadcount,confterm,ependdate,ependprec,outcome,recur,version,conflict_id,...,incompatibility,territory_name,intensity_level,type_of_conflict,start_date,start_prec,start_date2,start_prec2,gwno_loc,region
conflictep_id,,,,,,,,,,,,,,,,,,,,,
20001,1,3,1,1,1946-07-21,1.0,4.0,0,3,200,...,2,NaN,2,3,1946-07-18,1,1946-07-21,2,145,5
20002,2,3,1,1,1952-04-12,1.0,4.0,1,3,200,...,2,NaN,1,3,1946-07-18,1,1952-04-09,1,145,5
20003,3,3,1,1,1967-10-16,1.0,3.0,1,3,200,...,2,NaN,1,3,1946-07-18,1,1967-03-31,3,145,5
20101,1,1,1,0,NaT,NaN,NaN,0,3,201,...,1,Cambodia,1,1,1946-08-31,3,1946-08-31,3,811,3
20101,1,1,1,0,NaT,NaN,NaN,0,3,201,...,1,Cambodia,1,1,1946-08-31,3,1946-08-31,3,811,3

In [29]:
gdf = pdf[pdf['territory_name'] == 'Palestine']
gdf.head()

,conflictepisode,type_of_conflict2,dyadcount,confterm,ependdate,ependprec,outcome,recur,version,conflict_id,...,incompatibility,territory_name,intensity_level,type_of_conflict,start_date,start_prec,start_date2,start_prec2,gwno_loc,region
conflictep_id,,,,,,,,,,,,,,,,,,,,,
22801,1,2,1,0,NaT,NaN,NaN,0,3,228,...,1,Palestine,2,2,1948-04-15,1,1948-04-15,1,"645, 651, 652, 660, 663, 666",2
22801,1,2,1,1,1949-01-07,1.0,2.0,0,3,228,...,1,Palestine,1,2,1948-04-15,1,1948-04-15,1,"645, 651, 652, 660, 663, 666",2
23401,1,3,1,0,NaT,NaN,NaN,0,3,234,...,1,Palestine,1,3,1948-05-15,1,1949-12-31,5,666,2
23401,1,3,1,0,NaT,NaN,NaN,0,3,234,...,1,Palestine,1,3,1948-05-15,1,1949-12-31,5,666,2
23401,1,3,1,0,NaT,NaN,NaN,0,3,234,...,1,Palestine,1,3,1948-05-15,1,1949-12-31,5,666,2

In [33]:
dct = []
def add_opp(x_in):
    x = x_in.split(', ')
    for i in x:
        dct.append(i)
    return x_in
pdf['location'] = pdf['location'].apply(add_opp)

In [34]:
pdf['location'].value_counts()

location
Myanmar (Burma)       281
India                 179
Ethiopia              123
Philippines           113
Israel                 76
                     ...
Israel, Jordan          1
Dominican Republic      1
Gabon                   1
Algeria, Morocco        1
Tanzania                1
Name: count, Length: 159, dtype: int64

In [39]:
l = [1] * len(dct)

def chk(x):
    dct = {
        "Cambodia (Kampuchea)": "Cambodia",
        "DR Congo (Zaire)": "Democratic Republic of Congo",
        "Hyderabad": "India",
        "Madagascar (Malagasy)": "Madagascar",
        "Russia (Soviet Union)": "Russia",
        "Serbia (Yugoslavia)": "Serbia",
        "South Vietnam": "Vietnam",
        "Vietnam (North Vietnam)": "Vietnam",
        "South Yemen": "Yemen",
        "Yemen (North Yemen)": "Yemen",
    }
    if x in dct:
        return dct[x]
    return x

dfd = pd.DataFrame({'location': dct, 'count': l})
dfd['location'] = dfd['location'].apply(chk)

dfd.to_csv('generated.csv', index=False)

In [45]:
pdf.columns

Index(['conflictepisode', 'type_of_conflict2', 'dyadcount', 'confterm',
       'ependdate', 'ependprec', 'outcome', 'recur', 'version', 'conflict_id',
       'year', 'location', 'side_a', 'side_a_id', 'side_a_2nd', 'side_b',
       'side_b_id', 'side_b_2nd', 'incompatibility', 'territory_name',
       'intensity_level', 'type_of_conflict', 'start_date', 'start_prec',
       'start_date2', 'start_prec2', 'gwno_loc', 'region'],
      dtype='object')

In [51]:
ltc = list(gdf['side_a'])
ltc.extend(list(gdf['side_b']))
ltc

['Government of Egypt, Government of Iraq, Government of Jordan, Government of Lebanon, Government of Syria',
 'Government of Egypt, Government of Iraq, Government of Jordan, Government of Lebanon, Government of Syria',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Government of Israel',
 'Palestinian insurgents',
 'Palestinian insurgents',
 'Palestinian insurgents',
 'Palestinian insurgents',
 'Palestinian insurgents',
 'Palestinian insurgents',
 'Palestinian insurgents',
 'Palestinian insurgents',
 'Palestinian insurgents',
 'Palestinian insurgents',
 'Palestinian insurgents',
 'Palestinian insurgents',
 'Palestinian insurgents',
 'Palestinian insurgents',
 'Palestinian insurgents',
 'Palestinian insurgents',
 'Non PLO groups, PLO',
 'Non PLO groups, PLO',
 'Non PLO groups, PLO',
 'Non PLO groups, PLO',
 'Non PLO groups, PLO',
 'Non PLO groups, PLO',
 'Non PLO groups, PLO',
 'Non PLO groups, PLO',
 'Non PLO groups, PLO',
 'PLO, Rejectionist Front',
 'PLO, Rejectionist Front',
 'PLO, Rejectionist Front',
 'PLO, Rejectionist Front',
 'PLO, Rejectionist Front',
 'PLO, Rejectionist Front',
 'PLO, Rejectionist Front',
 'PLO, Rejectionist Front',
 'PLO, Rejectionist Front',
 'PLO, Rejectionist Front',
 'PLO, Rejectionist Front',
 'PLO, Rejectionist Front',
 'PLO, Rejectionist Front',
 'PLO, Rejectionist Front',
 'PLO, Rejectionist Front',
 'PFLP, PFLP-GC',
 'Fatah',
 'Fatah',
 'Fatah',
 'Hamas',
 'Hamas',
 'PIJ',
 'PNA',
 'Fatah, PNA',
 'Fatah, Hamas, PFLP, PIJ, PNA',
 'AMB, Fatah, Hamas, PIJ, PNA',
 'AMB, Hamas, PIJ',
 'AMB, Hamas, PIJ',
 'Fatah, Hamas, PIJ',
 'Fatah, Hamas, PIJ, PRC',
 'Fatah, Hamas, PIJ',
 'Hamas, PIJ',
 'Hamas, PIJ',
 'PIJ',
 'Hamas, PIJ',
 'Hamas, PIJ',
 'Hamas, PIJ',
 'Hamas',
 'PIJ']

In [53]:
ltc_new = []
for i in ltc:
    ltc_new.extend(i.split(', '))

len(ltc_new), len(ltc)
ltc = ltc_new
del ltc_new

In [57]:
# Get the vis of the actors in the Palestinian conflict

ndf = pd.DataFrame(ltc, columns=['Actors in Palestinian Conflict Since 1950s'])
ndf['count'] = 1
ndf.to_csv('generated2.csv')
del ndf

In [58]:
gdf['side_a'].value_counts()

side_a
Government of Israel                                                                                         64
Government of Egypt, Government of Iraq, Government of Jordan, Government of Lebanon, Government of Syria     2
Name: count, dtype: int64

In [69]:
def get_year(x):
    return int(str(x)[:4])

gdf['Year'] = gdf['start_date2'].apply(get_year)

gdf['Year'].value_counts()

C:\Users\patel\AppData\Local\Temp\ipykernel_22668\3686601217.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gdf['Year'] = gdf['start_date2'].apply(get_year)

Year
1949    48
2000    13
1948     2
2018     2
2014     1
Name: count, dtype: int64

In [70]:
def divide_actors(x):
    return x.split(', ')

gdf['actors_apart'] = gdf['side_a'].apply(divide_actors)
gdf['actors_bpart'] = gdf['side_b'].apply(divide_actors)

gdf['actors'] = gdf.apply(lambda x: x['actors_apart'] + x['actors_bpart'], axis=1)

C:\Users\patel\AppData\Local\Temp\ipykernel_22668\461716932.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gdf['actors_apart'] = gdf['side_a'].apply(divide_actors)
C:\Users\patel\AppData\Local\Temp\ipykernel_22668\461716932.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gdf['actors_bpart'] = gdf['side_b'].apply(divide_actors)
C:\Users\patel\AppData\Local\Temp\ipykernel_22668\461716932.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gdf['actors'] = gdf.apply(lambda x: x['actors_apart'] + x['actors_bpart'], axis=1)

In [74]:
tdf = gdf.explode('actors')

In [76]:
tdf = tdf[['Year', 'actors']]

In [78]:
tdf = tdf[tdf['actors'] != 'Government of Israel']

In [86]:
def year_bin(x):
    if x < 2000: return '1950-1999'
    if x < 2010: return '2000-2009'
    if x < 2025: return '2010-2025'

tdf['Year_bin'] = tdf['Year'].apply(year_bin)
tdf['Year_bin'].value_counts()
tdf[tdf['Year_bin'] == '1950-1999'].to_csv('1950-1999.csv', index=False)

AttributeError: 'DataFrameGroupBy' object has no attribute 'to_csv'

In [90]:
tdf.groupby(['actors']).size().to_csv('actors_grouped.csv')

In [92]:
tdf[tdf['Year_bin'] == '2000-2009'].to_csv('2000-2009.csv', index=False)
pd.read_csv('2000-2009.csv').groupby(['actors']).size().to_csv('actors_grouped_2000-2009.csv')

In [94]:
# tdf[tdf['Year_bin'] == '2010-2025'].to_csv('2010-2025.csv', index=False)
pd.read_csv('2010-2025.csv').groupby(['actors']).size().to_csv('actors_grouped_2010-2025.csv')